body {
    background-color:rgb(246, 226, 228);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
   
    padding: 20px;
}
marquee{
    color:black;
}

.cardimg{
    height:300px;
    width: 50px;

}
nav {
    background-color:rgb(220, 155, 165) ;
    padding: 12px;
    border-radius: 12px;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
.cta{
    padding: 7px;
     border:2px solid rgb(198, 142, 142);
     background-color:antiquewhite;
}
nav ul li a {
    color: black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: #f4f4f4; */
    padding: 50px;
    text-align: center;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;

}